header {
  border: 2px solid black;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 5px;
}

main {
  border: 2px solid black;
  padding: 10px;
  font-size: 20px;
  position: absolute;
  top: 150px;
  right: 10px;
  width: 200px;
  height: 300px;
}

sidebar {
  border: 2px solid black;
  padding: 10px;
  float: left;
  margin-right: 20px;
  width: 200px;
  height: 450px;
}

footer {
  border: 2px solid black;
  padding: 10px;
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  left: 10px;
  width: 95%;
  margin-top: 5px;
}
