div div {
  color: red;
}
p > * {
  font-size: 3rem;
  color: rgb(145, 255, 0);
}

article > p {
  font-size: 2rem;
  color: blue;
}
article p {
  font-size: 1.5rem;
  color: orange;
}

h1,
h3 {
  font-family: "Courier New", Courier, monospace;
  color: purple;
}
body ol {
  font-size: 1.2rem;
  color: rgb(165, 42, 42);
}

.amarillo {
  background-color: yellow;
  font-weight: bold;
}
body > ul {
  font-size: 1.5rem;
  color: rgb(240, 2, 2);
}

p > a {
  font-size: 1.8rem;
  color: rgb(0, 128, 128);
}
#platano {
  font-size: 3rem;
  color: rgb(255, 165, 0);
}
h2 ~ div {
  border: 2px solid black;
}
ul p.paisa {
  font-size: 2rem;
  color: rgb(0, 0, 255);
}
header > h1.headertitle,
header > h2.headertitle,
header > h3.headertitle {
  font-size: 2.5rem;
  color: rgb(75, 0, 130);
}
