body {
  font-family: Arial, verdana, sans-serif;
}

h1 {
  font-family: Georgia, Times, serif;
  font-size: 32px;
  font-variant: small-caps;
}
h2 {
  font-family: Georgia, Times, serif;
  font-size: 24px;
  font-style: italic;
  font-variant: small-caps;
}
ul li {
  font-weight: bold;
}

ul li strong {
  font-weight: normal;
}
